<div class="row mt-2">
  <div class="col-8">
    <h4 class="ml-2">
      Nutzer
    </h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Nutzername</th>
        <th>ID</th>
        <th>Email</th>
        <th>Rechte</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" (click)="select(user)">
        <td>
          <img [src]="'../../../assets/' + user.imgUrl" width="20">
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.rights.name }}</td>
        <td><button class="btn btn-transparent" (click)="delete(user)" [disabled]="!currentUser?.rights.canDelete"><a class="fa fa-trash text-danger"></a></button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <button *ngIf="!selectedUser && currentUser?.rights.canModifyOthers" class="btn btn-outline-primary" disabled>
      Nutzer zum Bearbeiten auswählen.
    </button>
    <button *ngIf="!selectedUser && !currentUser?.rights.canModifyOthers" class="btn btn-outline-primary" disabled>
      Sie haben nicht die benötigten Rechte<br>
      um Nutzer zu bearbeiten.
    </button>
    <app-user-edit *ngIf="selectedUser" (clicked)="close()" [user]="selectedUser"></app-user-edit>
  </div>
</div>
