<nav *ngIf="!currentUser" class="navbar navbar-dark bg-dark">
  <app-login (loggedIn)="loggedIn($event)"></app-login>
  <app-register-modal></app-register-modal>
</nav>

<nav *ngIf="currentUser" class="navbar navbar-dark bg-dark">
  <button class="col-md btn btn-dark" routerLink="/books">Bücher</button>
  <button class="col-md btn btn-dark" routerLink="/users">Nutzer</button>
  <button class="col-md btn btn-dark" routerLink="/maths">Mathe</button>
  <button class="col-md btn btn-dark" (click)="chat()">Chatroom</button>
  <app-edit-me-modal [currentUser]="currentUser"></app-edit-me-modal>
  <button class="col-1 btn btn-outline-primary" (click)="logout()">Logout</button>
</nav>
