<div *ngIf="isDesktop" class="row mt-2">
  <div class="col-8">
    <h4 class="ml-2">
      Bücher
      <button class="btn btn-outline-primary" (click)="add()"><span class="fa fa-plus"></span></button>
    </h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Titel</th>
        <th>Autor</th>
        <th>Preis</th>
        <th>Besitz</th>
        <th>Gelesen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of (books | async)" (click)="select(book)">
        <td>
          <a [href]="book.link" target='_blank' style="color: black">{{ book.title }} <span class="fa fa-external-link"></span></a>
        </td>
        <td>{{ book.author }}</td>
        <td>{{ book.price | currency }}</td>
        <td>{{ book.own | trueFalse }}</td>
        <td>{{ book.read | trueFalse }}</td>
        <td><app-really-modal [title]="'Buch ' + book.title + ' löschen'" buttonClass="btn btn-transparent"
                              iconClass="fa fa-trash text-danger" (answer)="delete(book, $event)"
                              [modalContent]="'Soll das Buch ' + book.title + ' wirklich gelöscht werden?'">
        </app-really-modal></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <app-book-edit [book]="selectedBook" [new]="new" (clicked)="close($event)"></app-book-edit>
  </div>
</div>

<div class="mt-2" *ngIf="!isDesktop">
  <h4 class="ml-2">
    Bücher
    <app-book-mobile [new]="true" [book]="newBook"></app-book-mobile>
  </h4>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let book of (books | async)">
        <app-book-mobile [book]="book"></app-book-mobile>
      </tr>
    </tbody>
  </table>
</div>
